<div class="main-background">
    {% extends "base.html" %}
    {% load static %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
        <div class="page-container content">
            <div class="content-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h2>About me:</h2>
                        <p>Hi! My name is Gerwin and im a student at Code Institute.
                            This page is created for my last project, involving python3 and django.
                            I decided to make a fitness site because it was suggested as an option.
                            Also the reason I picked it is because I have recently gotten into fitness
                            myself with the new covid rules and not being able to go out it
                            feels good to still feel productive and fit!
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 picturepad">
                        <h3>Things I have done:</h3>
                        <ul class="mt-3">
                            <li>Made my own first Project using HTML and CSS which was a website displaying a bunch of cards of the game "Legends of Runeterra</li>
                            <li>Made my Second Project which was a League Of Legends Card flip game with different difficulty levels and passes with flying colors</li>
                            <li>Made my third project which was an online cookbook for users to store their own recipes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>