<div class="main-background">
    {% extends "base.html" %}
    {% load static %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
        <div class="page-container content">
            <div class="content-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 info-text">
                        <h2>About me:</h2>
                        <p>Hi! My name is Gerwin and im a student at Code Institute.
                            I am currently working on my project to create my own site
                            where users can buy things! Me and my girlfriend are doing
                            fitness together and have been working out for a while
                            so I decided to make a site revolved around creating a 
                            community for people that enjoy fitness and want to talk
                            and communicate together!
                        </p>
                    </div>

                    <div class="col-lg-8 col-md-6 col-sm-12 signup-login">
                        Start working out with others today! <a href="{% url 'account_signup' %}">Sign up</a> or <a href="{% url 'account_login' %}">Log In</a>!
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 featured-program">Featured Program</div>
                    <div class="col-lg-4 col-sm-12 featured-program">Featured Program</div>
                    <div class="col-lg-4 col-sm-12 featured-program">Featured Program</div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>