<div class="main-background">
    {% extends "base.html" %}
    {% load static %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    <div class="overlay"></div>
    <div class="container-fluid page-container">
    <h2 class="jumbotron">
        Currently active forums: {{count}}
        <form method="POST" action="{% url 'create_forum' %}">
            {% csrf_token %}
        <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add more</button>
        </form>
    </h2>
        <div class="card-columns" style="padding: 10px; margin: 20px;"></div>
        
        
    {%for forum in forums %}
    <a href="{% url 'addInDiscussion' %}">
        <div class="card box container">
            <br>
            <div class="card-body container">
                <div> <h2>{{forum.title}}</h2></div>
                <div>Created By: {{forum.name}}</div>
            </div>
        </div>
    </a>
    {%endfor%}
    </div>
    {% endblock %}
</div>

{% block postloadjs %}
{% endblock %}