/*-------------------------------------------------------------   Navigation bar       */

.nav-link {
    color: black !important;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 7%;
}

.nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    font-size: 35px;
}

.nav-back {
    background-color: transparent;
}

/*-------------------------------------------------------------   Not logged in home page      */

.info-text {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.633);
    padding-top: 10px;
    padding-bottom: 10px;
}

.signup-login {
    text-align: center;
    font-size: 150%;
    transform: translateY(40%);
}

.featured-program {
    text-align: center;
    padding-top: 50px;
}

/*-------------------------------------------------------------   Store Page      */

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/*-------------------------------------------------------------   Body and Content       */

.main-background {
    background-image: url('/media/FlavoredFitness.png');
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

/*-------------------------------------------------------------   Footer       */

.page-container {
    position: relative;
    min-height: 93vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    flex-shrink: 0;
    color: rgb(236, 225, 225);
    background-color: rgb(19, 18, 18);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}